<main>
    <a href="/User/table">Voltar</a>
    <hr>
    <div class="card">
        <h1>{{user.name}}</h1>
        <p>email: {{user.email}}</p>
        <p>cpf: {{user.cpf}}</p>
        <p>cep: {{user.cep}}</p>
        <p>Endereço: {{user.endereco}}</p>
        <p>Telefone: {{user.cell}}</p>
    </div>
</main>